**/__pycache__/
**/*.py[cod]
**/.Python
**/*pip-log.txt
**/*pip-delete-this-directory.txt
**/.venv/
**/venv/
**/env/
**/ENV/
**/mi_entorno/

**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/*.egg-info/
**/dist/
**/build/
**/*.egg
**/sdist/
**/wheels/
**/*.manifest
**/*.spec
**/coverage/
**/.parcel-cache/
**/.cache/

**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.*.local
**/local_settings.py
!**/.env.example
!**/.env.template
!**/local_settings.example.py

**/*.sqlite3
**/*.sqlite3-journal
**/*.db
**/*.rdb
**/dump.rdb

**/*.log
**/logs/
**/app.log

**/cache/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
**/._*
**/__MACOSX/

**/.vscode/
**/.idea/
**/*.project
**/*.classpath
**/*.cpr
**/*.sublime-workspace
**/*.sublime-project
**/*.komodoproject
**/*~
**/*.sw[op]

**/staticfiles/
**/mediafiles/

**/temp/
**/tmp/

**/.ipynb_checkpoints/

**/docs/_build/
**/site/

**/.spyderproject/
**/.ropeproject/